<ul>
  <li id="p00"><%= link_to "0 0", {:controller => :game, :action => :move, :id => @board, :x=> 0, :y => 0}, :remote => true %></li>
  <li id="p01"><%= link_to "0 1", {:controller => :game, :action => :move, :id => @board, :x=> 0, :y => 1}, :remote => true %></li>
  <li id="p02"><%= link_to "0 2", {:controller => :game, :action => :move, :id => @board, :x=> 0, :y => 2}, :remote => true %></li>
  <li id="p03"><%= link_to "0 3", {:controller => :game, :action => :move, :id => @board, :x=> 0, :y => 3}, :remote => true %></li>
  <li id="p10"><%= link_to "1 0", {:controller => :game, :action => :move, :id => @board, :x=> 1, :y => 0}, :remote => true %></li>
  <li id="p11"><%= link_to "1 1", {:controller => :game, :action => :move, :id => @board, :x=> 1, :y => 1}, :remote => true %></li>
  <li id="p12"><%= link_to "1 2", {:controller => :game, :action => :move, :id => @board, :x=> 1, :y => 2}, :remote => true %></li>
  <li id="p13"><%= link_to "1 3", {:controller => :game, :action => :move, :id => @board, :x=> 1, :y => 3}, :remote => true %></li>
  <li id="p20"><%= link_to "2 0", {:controller => :game, :action => :move, :id => @board, :x=> 2, :y => 0}, :remote => true %></li>
  <li id="p21"><%= link_to "2 1", {:controller => :game, :action => :move, :id => @board, :x=> 2, :y => 1}, :remote => true %></li>
  <li id="p22"><%= link_to "2 2", {:controller => :game, :action => :move, :id => @board, :x=> 2, :y => 2}, :remote => true %></li>
  <li id="p23"><%= link_to "2 3", {:controller => :game, :action => :move, :id => @board, :x=> 2, :y => 3}, :remote => true %></li>
  <li id="p30"><%= link_to "3 0", {:controller => :game, :action => :move, :id => @board, :x=> 3, :y => 0}, :remote => true %></li>
  <li id="p31"><%= link_to "3 1", {:controller => :game, :action => :move, :id => @board, :x=> 3, :y => 1}, :remote => true %></li>
  <li id="p32"><%= link_to "3 2", {:controller => :game, :action => :move, :id => @board, :x=> 3, :y => 2}, :remote => true %></li>
  <li id="p33"><%= link_to "3 3", {:controller => :game, :action => :move, :id => @board, :x=> 3, :y => 3}, :remote => true %></li>
</ul>

<% if @board.user_two %>
    <% broadcast "/board", do %>
        $("#user_two").replace("#{@board.user_two}");
    <% end %>
<% end %>
Player1: <span id="user_one"><%= @board.user_one.nickname if @board.user_one %></span>
Player2: <span id="user_two"><%= @board.user_two.nickname if @board.user_two %></span>